legend {
    display: block;
    width:auto;
    max-width: 20%;
    padding: 0;
    margin-bottom: .1rem;
    font-size: 0.80rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}
fieldset {
    min-width: 0;
    padding: 0 0 3px 5px;
    margin: 0;
    border: 0.5px;
    border-color: #e5ebf1;
    border-style: dotted;
}
.form-control {
    color: #67757c;
    min-height:38px;
    display: initial;
}
.custom-select {
    background: url(../assets/images/custom-select.png) right 0.75rem center no-repeat;
}
  .custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #696d17;
    vertical-align: middle;
  border-color: #1e88e5;
  outline-color:#1e88e5;
   outline-offset: -2px;
     border-image: none;
     background-color: white;
     /*
    background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right .75rem center;background-size: 8px 10px;border: 1px solid #ced4da;border-radius: .25rem;-webkit-appearance: none;-moz-appearance: none;appearance: none;*/
  }
  .sentiment-color{
    color:#1e88e5;
  }

  .emotion-color{
    color:#55acee;
  }
  .customize-select
  {
    max-width:13%;height: 20px !important;
  }
   .in-comment-select
  {
    max-width:14%;
    font-size:14px;
  }

  .select2-container--default .select2-selection--multiple {
    background-color: #f3f6f9;
   /* border: 1px solid #3c8dbc;
    border-radius: 4px;*/
    cursor: text;
        border: 0 none;
      /*  background-image: -webkit-gradient(linear, left top, left bottom, from(#dfe4e6), to(#e5eaec)), -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#d9d9d9));*/
}
.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    /*height: 20px;*/
    user-select: none;
    -webkit-user-select: none;
    
}
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%;
  }
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #6a6868;
    border-color: #6a6868;
    padding: 1px 10px;
    color: #fff;
   font-size:11px;
}
  .comment-select
  {
    max-width:26%;height: 20px !important;
  }
  .datepicker
  {
    color:#5e5b5b !important;width: 17em; padding: .2em .2em 0 ;
  }
  .s-topbar
  {
    position: relative;
    z-index: 20;
    /*-webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.5);*/
  }
  .s-topbar-fix
  {
   position: fixed;  
  width: inherit;
  }
  .s-topbar-u-div
  {
    margin: 70px -15px 0 -15px;
  }
  .chip {
      display: inline-block;
      height: 32px;
      font-size: 13px;
      font-weight: 500;
      color: rgba(0,0,0,0.6);
      line-height: 32px;
      padding: 0 12px;
      border-radius: 16px;
      background-color: #e4e4e4;
      margin-bottom: 5px;
      margin-right: 5px;
  }
  .chip:hover
  {
    background:rgb(205, 153, 61)  !important;
    opacity:0.7 !important;
    border:1px solid rgb(205, 153, 61) !important;
    color: #fff !important;
  }
 
  .chip>img {
      float: left;
      margin: 0 8px 0 -12px;
      height: 32px;
      width: 32px;
      border-radius: 50%;
  }
  .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff !important;
    background-color: #545b62;
    border-color: #4e555b;
}
.switchery>small {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    height: 20px;
    position: absolute;
    top: 0;
    width: 20px;
}
.switchery {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    vertical-align: middle;
    width: 50px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
    background-clip: content-box;
}

/*top post css*/
.postPanel_header {
    font-size: 12px;
    font-weight: normal;
    font-family: Roboto-Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    padding: 0;
    margin-bottom: 10px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.postPanel_contentContainer {
    position: relative;
    padding: 12px;
    font-size: 13px;
}
.postPanel_userImageContainer img {
    vertical-align: top;
    width: 100%;
}
.postPanel_userImageContainer {
    display: inline-block;
    margin-right: 5px;
    max-width: 20px;
    max-height: 20px;
    overflow: hidden;
    vertical-align: top;
}
.postPanel_imageAndNameTextContainer {
    display: block;
    margin-top: 16px;
}
.postPanel_dataContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #f3f8ff;
    padding: 6px 6px;
    font-size: 11px;
    line-height: 1;
    color: #0092ff;
}
.postPanel_icon {
    font-size: 14px;
    margin: 0 6px 0 12px;
}
.postPanel_container {
    padding: 0;
    border: 1px solid #d8d8d8;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.3);
    margin-bottom:10px;
    /*font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;*/
}
.table{width:100%;max-width:100%;margin-bottom:1rem;background-color:transparent;font-size:16px;}
.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
.table thead
{
  color:#26c6da;
}
.swal2-popup .swal2-styled {
    margin: 0 .3125em;
    padding: .300em 1em;
    font-weight: 500;
    box-shadow: none;
}

  /*.page-titles .justify-content-end:last-child .d-flex {
    margin-right: 15rem;
}*/